header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("../images/pattern.webp");
    margin: auto;
    text-align: center;
}

.brushes h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frames h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

body {
    background-color: lightgray;
}

